/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

	.icon-block {
	  padding: 0 15px;
	}
	.icon-block .material-icons {
		font-size: inherit;
	}

		body{
            background-image: radial-gradient(#283593);
            
        }
        h1{
            color: #2e3192;
            font-family: fonteCf;
            text-shadow: 5px 5px 25px #5c5fc3;
        }
        #ean{
            --font-size: 40px;
            color: #ed1c24;
            background-color: #fff;
        }
        .modal{
          z-index: 1000;
          width: 90%;
        }